.texno-about-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
}

.texno-about-container {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    /* border: 1px solid red; */
}

.texno-about-title {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    width: 100%;
    height: 250px;
    padding-top: 75px;
    /* border: 1px solid blue; */
}

.texno-about-title h1 {
    font-size: 38px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #212121;
}

.texno-about-title div {
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    width: 790px;
    height: 120px;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.texno-about-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
}

.texno-card, .texno-card-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 370px;
    height: 420px;
    margin: 10px;
    padding-left: 35px;
    background-color: #FBFBFB;
    border: 1px solid #ecebeb;
    border-radius: 25px;
}

.texno-card-top {
    margin-top: -85px;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #134b7038;
    border-radius: 50%;
}

.card-icon svg {
    font-size: 30px;
    color: #134b70;
}

.card-title {
    width: 90%;
    height: 55px;
    margin-top: 15px;
    /* border: 1px solid blue; */
}

.card-title h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #201E43;
}

.card-desc {
    width: 90%;
    height: 150px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.card-desc p {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #212121c7;
}
 /* Prezident contaienr */
.texno-text {
    width: 100%;
    height: auto;
    background-color: #FBFBFB;
    /* border: 1px solid red; */
}

.texno-text-container {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 1px solid red; */
}

.texno-text-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 600px;
    /* border: 1px solid blue; */
}

.texno-text-img {
    width: 680px;
    height: 600px;
    background-image: url('../imgs/president.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.texno-text-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 600px;
    /* border: 1px solid green; */
}

.texno-text-desc h4 {
    font-size: 17px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #201e43d2;
}

.texno-text-desc h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #508C9B;
}

.texno-text-desc p {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #201e43d2;
}

.text-user-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    /* border: 1px solid red; */
}

.user-image-desc {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background-color:  #ecebeb;
    border-radius: 50%;
    background-image: url('../imgs/president2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.user-icon-txt h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #201e43d2;
}

.user-icon-txt h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #212121;
}