@media screen and (width < 420px) {
    .map-container {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    .map-card {
        height: auto;
        padding-top: 25px;
        align-items: start;
    }
}

@media screen and (420px < width < 720px ) {
    .map-container {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    .map-card {
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: start;
    }
}